{% load static %}

<head>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<body style="background-image: url({% static 'images/background.jpeg' %});">

  <div class="row">
    <div class="col-lg-5 m-auto">
      <div class="card mt-5 bg-dark">
        <div class="card-title text-center mt-3">
          <img src="{% static 'images/adminlogin.png' %}" width="150" height="150">
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user fa-2x"></i>
                </span>
              </div>
              <input type="text" name="username" placeholder="Enter admin username" class="form-control p-4">
            </div>
            
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock fa-2x"></i>
                </span>
              </div>
              <input type="password" name="password" placeholder="Password" class="form-control p-4">
            </div>

            <input type="submit" value="Login" class = "btn btn-success px-5">
            {% comment %} <i class="fa fa-home fa-2x" aria-hidden="true"></i> {% endcomment %}
            <a href="{% url 'index' %}" class="fa fa-home float-right text-white mt-2">Back to Home</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>


{% if error == "no" %}
<script>
    alert('Logged in Successful');
    window.location = ('{% url 'admin_home' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Invalid login credentials');
    window.location = ('{% url 'admin_login' %}')
</script>
{% endif %}